/*  空白欢迎背景   */
.space {
    background-image: url(../images/stu-union.png);
    width: 800px;
    height: 350px;
    background-position: 0px 0px;
    background-size: 800px 400px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

/* 照片集 */
.imgset {
    width: 800px;
    margin: 0 auto;
    white-space : nowrap;/*内容横向排列不换行*/
    overflow-x : auto;/*隐藏溢出部分。横向滚动条自动出现，纵向滚动条隐藏*/ 
}
.imgset img {
    width: 200px;
    height: 160px;
    object-fit: cover;
}
/*   总结信   */
.letter {
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;

}
    



